<header>
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      class="search-form-input"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit" class="search-form-btn">Search</button>
  </form>
</header>
<main>
  <section class="section-gallery">
    <div class="container">
      <ul class="gallery js-gallery list"></ul>
      <p
        class="plug animate__animated animate__rubberBand animate__slower animate__infinite animate__delay-2s"
      >
        Hello, I'm an annoying animation, to get rid of me, you should enter a
        request :D
      </p>
      <button type="button" class="load-more-btn is-hidden">Load more</button>
    </div>
  </section>
</main>
